version: 2.1
orbs:
  # orgs contain basc recipes and reproducible actions (install node, aws, etc.)
  node: circleci/node@5.0.2
  eb: circleci/aws-elastic-beanstalk@2.0.1
  aws-cli: circleci/aws-cli@3.1.1
  # different jobs are calles later in the workflows sections

jobs:
  client-side:
    working_directory: ~/udagram/udagram-frontend
    executor: node/default
    steps:
     # TODO Checkout code and Install Node
      - checkout:
          path: ~/udagram
      - run: node/install-npm
      - node/install-packages:
          app-dir: ~/udagram/udagram-frontend
     # TODO  Build the Client App
      - run:
          name: Build Frontend
          command: npm run build
      - aws-cli/install
     # TODO  Deploy the Client App
      - run:
          name: Deploy Frontend
          command: aws s3 cp --recursive --acl public-read ./www $S3_BUCKET_FRONTEND
  server-side:
    working_directory: ~/udagram/udagram-api
    executor: node/default
    steps:
       # TODO  Checkout code and Install Node
      - checkout:
          path: ~/udagram
      - run: node/install-npm
      - node/install-packages:
          app-dir: ~/udagram/udagram-api
       # TODO  Build and Archive the Server App
      - run:
          name: Build and ZIP Server
          command: |-
            npm run build
            printenv > www/.env
            npm run archive
      - aws-cli/install
      # PHASE 6: Deploy the Server App
      - run:
          name: Deploy Server
          command: |-
            aws s3 cp ./www/Archive.zip $S3_BUCKET_SERVER
            aws elasticbeanstalk create-application-version --application-name $EB_APP --version-label <<pipeline.git.revision>> --source-bundle S3Bucket="$EB_BUCKET",S3Key="Archive.zip"
            aws elasticbeanstalk update-environment --application-name $EB_APP --environment-name $EB_ENV --version-label <<pipeline.git.revision>>
workflows:
  udagram:
    jobs:
      - client-side
      - server-side 