version: 2.1
orbs:
  # orgs contain basc recipes and reproducible actions (install node, aws, etc.)
  node: circleci/node@5.0.2
  eb: circleci/aws-elastic-beanstalk@2.0.1
  aws-cli: circleci/aws-cli@3.1.1
  # different jobs are calles later in the workflows sections
jobs:
  build-and-deploy:
    docker:
      - image: 'cimg/base:stable'
    steps:
      # install node and checkout code
      - node/install:
          node-version: '14.15'         
      - checkout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY
          aws-secret-access-key: AWS_ACCESS_SECRET
          aws-region: AWS_REGION_NAME
      # Use root level package.json to install dependencies in the frontend app
      - run:
          name: Install Front-End Dependencies
          command: |
            npm run frontend:install
      # TODO: Install PIP 
      - run:
          name: Install pip
          command: |
              sudo apt update
              sudo apt install -y python-pip python-dev
      # TODO: Install AWS 
      - run:
          name: Install AWS dependencies
          command: |
            sudo pip install awsebcli
      # TODO: Install dependencies in the the backend API          
      - run:
          name: Install API Dependencies
          command: |
           npm run api:install
      # TODO: Build the frontend app
      - run:
          name: Front-End Build
          command: |
            npm run frontend:build
      # TODO: Build the backend API      
      - run:
          name: API Build
          command: |
            npm run api:build
      - run:
          name: Deploy API
          # TODO: Install, build, deploy in both apps
          command: |
             npm run api:deploy
      - run:
          name: Deploy App
          # TODO: Install, build, deploy in both apps
          command: |
             npm run frontend:deploy

            
workflows:
  build-and-deploy:
    jobs:
      - build-and-deploy:
          filters:
            branches:
              only:
                - main